.filters {
  display: grid;
  gap: var(--ui-space-lg);
  max-inline-size: 28rem;
}

.step {
  display: grid;
  gap: var(--ui-space-lg);
  max-inline-size: 28rem;
}

.date-time {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--ui-space-sm);
}

.actions {
  display: flex;
  gap: var(--ui-space-xs);
}
