@use '../styles/mixins';

:host {
  display: inline-flex;
  font-family: var(--ui-font-family-sans);
  color: var(--ui-color-text);
}

:host(.ui-radio--sm) {
  --_size: var(--ui-icon-size-sm);
  --_font-size: var(--ui-font-size-sm);
}

:host(.ui-radio--md) {
  --_size: var(--ui-radio-size);
  --_font-size: var(--ui-font-size-sm);
}

:host(.ui-radio--lg) {
  --_size: var(--ui-icon-size-md);
  --_font-size: var(--ui-font-size-md);
}

.ui-radio__label {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--ui-space-sm);
  font-size: var(--_font-size);
  line-height: var(--ui-line-height-snug);
  cursor: pointer;
}

.ui-radio__control {
  display: inline-flex;
  flex-shrink: 0;
  inline-size: var(--_size);
  block-size: var(--_size);
  margin-block-start: calc((1lh - var(--_size)) / 2);
}

.ui-radio__input {
  display: grid;
  place-content: center;
  margin: 0;
  inline-size: 100%;
  block-size: 100%;
  border: var(--ui-border-width-default) solid var(--ui-radio-border);
  border-radius: var(--ui-radius-full);
  background-color: var(--ui-radio-bg);
  appearance: none;
  cursor: inherit;
  @include mixins.transition(border-color);
  @include mixins.focus-visible;

  &::before {
    content: '';
    inline-size: calc(var(--_size) / 2);
    block-size: calc(var(--_size) / 2);
    border-radius: var(--ui-radius-full);
    background-color: var(--ui-radio-checked-color);
    scale: 0;
    @include mixins.transition(scale);
  }

  &:checked {
    border-color: var(--ui-radio-checked-color);

    &::before {
      scale: 1;
    }
  }

  &:disabled {
    border-color: var(--ui-color-border);
    background-color: var(--ui-color-control-bg-disabled);

    &::before {
      background-color: var(--ui-color-text-disabled);
    }
  }
}

:host(.ui-radio--invalid) .ui-radio__input:not(:checked) {
  border-color: var(--ui-radio-invalid-border);
}

:host(.ui-radio--readonly) .ui-radio__label {
  cursor: default;
}

:host(.ui-radio--disabled) {
  color: var(--ui-color-text-disabled);

  .ui-radio__label {
    cursor: not-allowed;
  }
}

@media (forced-colors: active) {
  .ui-radio__input::before {
    background-color: CanvasText;
  }
}
