@use '../styles/mixins';
@use 'tab-styles';

:host {
  display: flex;
  flex-direction: column;
  min-inline-size: 0;
  font-family: var(--ui-font-family-sans);
  color: var(--ui-color-text);
}

.ui-tabs__list {
  @include tab-styles.list;
}

.ui-tabs__tab {
  @include tab-styles.tab(':disabled');
}

.ui-tabs__tab--selected {
  @include tab-styles.selected;
}

.ui-tabs__panel {
  padding-block-start: var(--ui-tabs-panel-padding);
  @include mixins.focus-visible;

  &[hidden] {
    display: none;
  }
}
